<h1><%= link_to Course.find(@lesson.course_id).name,edit_course_path(@lesson.course_id)%>>>(新建章节)</h1>

<%= render 'form' %>
<!--显示练习列表-->
<h2>练习列表</h2>
<%
	es = Exercise.find :all, :conditions=>["lesson_id=?",@lesson.id]
	
	if es 
		i=0
		es.each do |e|
			i+=1
			eName = "练习"+i.to_s+":"+e.name
						
%>
			<h3><%=link_to eName,edit_exercise_path(e.id)%></h3>
<%
		end
	end
%>
<%= link_to '添加练习',new_lesson_exercise_path(@lesson.id) %>